<!DOCTYPE html>
<html>
    <head>
        <title>Layout</title>
    </head>
    <body>
        <div style="border: 1px solid blue; width: 99%; height: 80px;"></div>
        <div style="border: 1px solid blue; width: 20%; height: 500px; float: left;"></div>
        <div style="border: 1px solid blue; width: 79%; height: 500px; float: left;"><div>
            <div style="border: 1px solid blue; width: 90%; height: 80px; margin-left: 5%; margin-top: 20px;"></div>
            <div style="border: 1px solid blue; width: 40%; height: 350px; margin-left: 5%; margin-top: 10px; float: left"></div>
            <div style="border: 1px solid blue; width: 40%; height: 350px; margin-left: 55%; margin-top: 10px;"></div>
        </div>
        <div style="border: 1px solid blue; width: 99%; height: 80px; margin-top: 500px;"></div>
    </body>
</html>